{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <h1 class="d-flex justify-content-center"> Les projets réalisés team PHP Remote </h1>
    </div>


{% endblock %}